:root {
}

@font-face {
  font-family: "MyFont";
  src: url("/fonts/jxzk.ttf") format("truetype");
  font-weight: 100 900; /* 可变字体的范围，表示 100 到 900 的字重 */
}

body {
  font-family: "MyFont", sans-serif;
  font-weight: 300;
}
