:root {
}

@font-face {
  font-family: "851";
  src: url("/fonts/851.ttf") format("truetype");
  font-weight: 100 900; /* 可变字体的范围，表示 100 到 900 的字重 */
}

body {
  font-family: "851", sans-serif;
  font-weight: 300;
}

/* 修改滚动条整体样式 */
::-webkit-scrollbar {
  width: 5px; /* 垂直滚动条的宽度 */
  height: 5px; /* 水平滚动条的高度 */
}

/* 滚动条的轨道 */
::-webkit-scrollbar-track {
  background: #fafafa; /* 轨道的背景色 */
}

/* 滚动条的滑块 */
::-webkit-scrollbar-thumb {
  background: #d1d5db; /* 滑块的背景色 */
}

/* 滑块在悬停时的样式 */
::-webkit-scrollbar-thumb:hover {
  background: #9ca3af; /* 悬停时的背景色 */
}
